# Meson files
build/

# clangd
.cache/

# C++ Files
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# IDE/Editor stuff
.vscode/
\#*\#
*~

# meson subprojects
subprojects/*
!subprojects/*.wrap